@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<p>
    @Html.ActionLink("Tipo controles", "Index", "TipoControls")
</p>

<p>
    @Html.ActionLink("Empleados", "Index", "Empleadoes")
</p>

<p>
    @Html.ActionLink("Asignar Tareas", "Index", "AsignarTareas")
</p>

<p>
    @Html.ActionLink("Registro controles", "Index", "RegistroControls")
</p>

<p>
    @Html.ActionLink("Registro de ingreso y salida", "Index", "RegistroIngresoSalidas")
</p>